@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
.grid {
    display: grid;
    gap: 1rem;

    grid-template-areas: 
    'd A d'
    'm d b'
    's l p'
    'se pa ev';

    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    font-family: 'Maven Pro';

    border-radius: 25%;
 }

 .h1 {
   font-size: calc(22px + 2vw);
 }

 .p {
   font-size: calc(12px + 2vw);
 }
   /*-----Header row-----*/
  .card:nth-child(1) {
    background-color: #20B2AA;
    border-radius: 2vw;
    margin-top: 1em;
    height: 2.5vh;
    width: 1fr;
  }
  .card:nth-child(2) {
    background-color: #01796F;
    border-radius: 2vw;
    height: 8vh;
    width: 1fr;
    margin: 0 auto;
  }
  .card:nth-child(3) {
    background-color: #20B2AA;
    border-radius: 2vw;
    margin-top: 1em;
    height: 2.5vh;
    width: 1fr;
  }
 
  /*-----first row-----*/
  .card:nth-child(4) {
    background-color: #A7D7D7;
    color: #256;
  }
  .card:nth-child(5) {
    background-color: #A7D7D7;
    color: #256;
  }
  .card:nth-child(6) {
    background-color: #A7D7D7;
    color: #256;
  }
 
  /*-----second row-----*/
  .card:nth-child(7) {
    background-color: #0E9090;
    color: #E0FFFF;
  }
  .card:nth-child(8) {
    background-color: #01796F;
    color: #E0FFFF;
  }
  .card:nth-child(9) {
    background-color: #0E9090;
    color: #E0FFFF;
  }

  /*-----third row-----*/
  .card:nth-child(10) {
    background-color: #225566;
    color: #99FFFF;
  }
  .card:nth-child(11) {
    background-color: #225566;
    color: #99FFFF;
  }
  .card:nth-child(12) {
    background-color: #225566;
    color: #99FFFF;
  }

 