@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.grid {
    display: grid;
    gap: 1rem;

    grid-template-areas: 
    'd A d'
    'm d b'
    's l p'
    'se pa ev';

    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: repeat(3, auto);

    font-family: 'Maven Pro';

 }
   /*-----Header row-----*/
  .card:nth-child(1) {
    background-color: #20B2AA;
  }
  .card:nth-child(2) {
    background-color: #01796F;
  }
  .card:nth-child(3) {
    background-color: #20B2AA;
  }
 
  /*-----first row-----*/
  .card:nth-child(4) {
    background-color: #A7D7D7;
    color: #256;
  }
  .card:nth-child(5) {
    background-color: #A7D7D7;
    color: #256;
  }
  .card:nth-child(6) {
    background-color: #A7D7D7;
    color: #256;
  }
 
  /*-----second row-----*/
  .card:nth-child(7) {
    background-color: #0E9090;
    color: #E0FFFF;
  }
  .card:nth-child(8) {
    background-color: #01796F;
    color: #E0FFFF;
  }
  .card:nth-child(9) {
    background-color: #0E9090;
    color: #E0FFFF;
  }

  /*-----third row-----*/
  .card:nth-child(10) {
    background-color: #225566;
    color: #99FFFF;
  }
  .card:nth-child(11) {
    background-color: #225566;
    color: #99FFFF;
  }
  .card:nth-child(12) {
    background-color: #225566;
    color: #99FFFF;
  }

 